@media screen and (max-width:576px) {
    /* .checkbtn {
        display: block;
    }

    .header__nav {
        position: fixed;
        background-color: red;
        height: auto;
        margin: 0;
        top: -100%;
    }

    #toggle:checked~.header__nav, ul {
        top: 0;
        display: flex;
        flex-direction: column;
        background-color: green;
    } */
   
}